<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div class="w3-panel w3-leftbar w3-light-grey">
		<div class="w3-container w3-green">
			<h2>PUBSUB CLIENT</h2>
		</div>
		<p class="w3-xlarge w3-serif"
			th:text="${query}+' are submitted to pubsub. Those would be subscribed and executed automatically in background.'" />
	</div>
</body>
</html>